<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidpostindustriaschool"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.activities.gallery.view.GalleryActivity"
            android:label="@string/title_gallery_action_bar"
            android:theme="@style/Theme.AndroidPostindustriaSchoolActionBar" />
        <activity
            android:name=".ui.activities.maps.MapsActivity"
            android:label="@string/title_maps_action_bar"
            android:theme="@style/Theme.AndroidPostindustriaSchoolActionBar" />
        <activity
            android:name=".ui.activities.history.view.HistoryActivity"
            android:label="@string/title_history_action_bar"
            android:theme="@style/Theme.AndroidPostindustriaSchoolActionBar" />
        <activity
            android:name=".ui.activities.favorites.view.FavoritesActivity"
            android:label="@string/title_favorites_action_bar"
            android:theme="@style/Theme.AndroidPostindustriaSchoolActionBar" />
        <activity
            android:name=".ui.activities.login.view.LoginActivity"
            android:label="@string/title_login_action_bar"
            android:theme="@style/Theme.AndroidPostindustriaSchool" />
        <activity
            android:name="com.example.androidpostindustriaschool.ui.activities.photo_review.view.PhotoReviewActivity"
            android:theme="@style/Theme.AndroidPostindustriaSchool"
            tools:ignore="AppLinkUrlError" />
        <activity
            android:name=".ui.activities.splash.SplashScreenActivity"
            android:theme="@style/Theme.AndroidPostindustriaSchool">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.main.view.MainActivity"
            android:theme="@style/Theme.AndroidPostindustriaSchool" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>